<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> post.title </title>
</head>
    <body>
        <h1>Post Title: {{ post.title }}</h1>

        <ul>
            <li>Post Description: {{ post.description }}</li>
            <li>Author: {{ post.user }}</li>
            <li>Is it hot? {{ post.is_hot }}</li>
            <li>Is it recent (last 24 hours)? {{ post.is_recent }}</li>
        </ul>

        <h4>What are people saying?</h4>
            <ul>
                {% for comment in comments %}
                    <li>Author: {{ comment.user }}
                    <li>Comment: {{ comment.comment_text }}
                {%  endfor %}
            </ul>


    </body>
</html>