<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>subreddit.title</title>
</head>
    <body>
    
    <h1>Subreddit Title: {{ subreddit.title }}</h1>
    <h2>Description: {{ subreddit.description }}</h2>
    <h3>Recent Posts (limited to 20):</h3>
        <ul>
            {% for post in posts %}
            <li> <a href="{%  url 'post_detail' post.id %}">
                {{ post.title }}</a> by {{ post.user }} at
                {{ post.creation_time }} </li>
            {% endfor %}
            
        </ul>
    </body>
</html>